* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upload-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImage {
  width: 100%;
  height: 100%;
}

.containerImage img {
  width: 100%;
  height: 100%;
}

.pos-a {
  position: absolute;
}

.container__wrapper {
  position: relative;
  overflow: hidden;
  width: 1080px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container__wrapper img {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}

.btn {
  margin-top: 10px;
}
.bg-blur {
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  width: 105%;
  height: 105%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-settings {
  position: sticky;
  top: 28px;
}
img.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9999;
  width: 250px;
  height: auto;
}
